body {
    font-family: Arial;
    font-size: 14px;
}

.datepicker--calendar {
    width: 336px;
    border: 2px solid red;
    margin: 10px;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calendar--month {
    align-self: stretch;
    text-align: center;
    background-color: grey;
    padding: 6px;
}

.calendar--days {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.calendar--numbers {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: flex-start;
}

.calendar--num {
    align-self: center;
    width: 46px;
    height: 30px;
    border: 1px solid black;
    font-size: 1.5Rem;
    text-align: center;
    cursor: pointer;
}

.calendar--num__notDate {
    align-self: center;
    width: 46px;
    height: 30px;
    border: 0px;
    border: 1px solid white;
}
