.container__group-intro {
    background-image: url("../img/img1.png");
    background-size: cover;
}

.container__header {
    padding: 30px 20%;
    background-color: rgba(71, 81, 89, 0.8);
}

.container__group {
    padding: 55px 20%;
    
}

.container__group_blue {
    background-color: rgb(75, 202, 255);
}

.container__group_white
{
    background-color: white;
}

.container__group_grey
{
    background-color: rgb(81, 95, 103);
}

.container__group_img2{
     background-image: url("../img/img2.png");
    background-size: cover;
}

.container__group_img3{
     background-image: url("../img/img3.png");
    background-size: cover;
}