.container__group-intro {
    background-image: url("../img/img1.png");
    background-size: cover;
}

.container__header {
    padding: 30px 0;
    background-color: rgba(71, 81, 89, 0.8);
}

.container__group {
    padding: 55px 0;
}

@media (min-width:950px) {
    .container__group, .container__group-intro {
        min-width: 950px;
    }
    .container__content {
        box-sizing: border-box;
        width: 950px;
        margin: auto;
        padding: 0 10px;
    }
}

@media (max-width:950px) {
    .container__content {
        box-sizing: border-box;
        padding: 0 10px;
    }
}

.container__group_blue {
    background-color: rgb(75, 202, 255);
}

.container__group_white {
    background-color: white;
}

.container__group_grey {
    background-color: rgb(81, 95, 103);
}

.container__group_author {
    padding-top: 65px;
    padding-bottom: 130px;
    background-image: url("../img/img2.png");
    background-size: cover;
}

.container__group_contact {
    background-image: url("../img/img3.png");
    background-size: cover;
}

.container__group_footer {
    background-color: rgb(53, 63, 71);
    background-size: cover;
}