html {
    font-size: 20px;
    text-align: center;
    letter-spacing: 10px;
    background-color: rgba(100, 100, 100, 0.3);
}

body {
    line-height: 3rem;
}

div:nth-child(odd) {
    color: blue;
}

div:nth-child(even) {
    color: red;
}

div:first-of-type {
    font-size: 2em;
}

div:nth-child(even)+div {
    font-size: 2em;
}

div {
    text-transform: uppercase;
}

div.four~div {
    text-transform: lowercase;
}
