.block-info__left {
    background-color: rgb(238, 187, 238);
}

.block-info__right {
    background-color: rgb(146, 196, 248);
}

.block-info--title {
    padding: 15px 30px 20px 20px;
    font-size: 1.5Rem;
    line-height: 50px;
}

.block-info--text {
    padding: 0px 20px 10px 20px;
    line-height: 28px;
}

.block-info--btn {
    margin: 5px 10px 30px 20px;
    width: 145px;
    height: 50px;
    border: none;    
    font-size: 1.2Rem;
    border-radius: 5px;
    color: white;
}

.block-info--btn__detail {
    background-color: rgb(2, 117, 216);
}

.block-info--btn__detail:hover {
    background-color: rgb(2, 90, 165);
    outline: 0;
}

.block-info--btn__detail:active {
    background-color: rgb(1, 70, 130);
    outline: 0;
}

.block-info--btn__more {
    background-color: rgb(217, 83, 79);
}

.block-info--btn__more:hover {
    background-color: rgb(201, 48, 44);
    outline: 0;
}

.block-info--btn__more:active {
    background-color: rgb(172, 41, 37);
    outline: 0;
}
