.form-group-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(55,58,60);
}

.form-group-1--text-field {
    -webkit-appearance: none;
    padding: 3px 0 0 10px;
    margin: 0 0 0 25px;
    height: 30px;
    align-self: stretch;
    font-size: 1Rem;
    border-radius: 5px;
    border: 1px solid rgb(153, 153, 153);
    outline: none;
    color: rgb(55,58,60);
}
.form-group-1--label {
    padding: 25px 0 10px 25px;
}

.form-group-1--text-field:focus,
.form-group-1--select-field:focus {
    border: 1px solid rgb(102, 175, 233);
    border-radius: 5px;
}

.form-group-1--text-field::-webkit-input-placeholder,
.form-group-1--select-field{
    font-size: 1Rem;
    color: rgb(153, 153, 153);
}

.form-group-1--select-field {
    padding: 3px 0 0 0;
    margin: 0 0 0 25px;
    height: 38px;
    align-self: stretch;
    text-indent: 10px;
    border-radius: 5px;
    outline: none;
}
