@media (min-width:990px) {
    .group-icons--block-icon:nth-child(-n+3) {
        border-right: 1px solid white;
    }
}

@media (max-width:990px) {
    .group-icons {
        flex-wrap: wrap;
    }
    .group-icons--block-icon {
        min-width: 340px;
    }
    .group-icons--block-icon:nth-child(2n-1) {
        border-right: 1px solid white;
    }
}

@media (max-width:757px) {
    .group-icons--block-icon:nth-child(2n-1) {
        border-right: 0px solid white;
    }
}

@media (max-width:545px) {
    .group-icons--block-icon {
        min-width: 100%;
    }
}

.group-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.group-icons--block-icon {
    flex-basis: 200px;
    flex-grow: 1;
    border-top: 1px solid white;
}
