.group-images--image {
    border-top: 1px solid white;
    float: left;
}

@media (min-width:990px) {
    .group-images--image:nth-child(-n+3) {
        width: 33.255%;
    }
    .group-images--image:nth-child(-n+2) {
        border-right: 1px solid white;
    }
    .group-images--image:nth-child(4) {
        width: 66.62%;
        border-right: 1px solid white;
    }
    .group-images--image:nth-child(5),
    .group-images--image:nth-child(6) {
        width: 33.25%;
    }
    .group-images--image:nth-child(7),
    .group-images--image:nth-child(8) {
        width: 49.94%;
    }
    .group-images--image:nth-child(7) {
        border-right: 1px solid white;
    }
    .group-images--image:nth-child(n+9) {
        width: 24.91%;
    }
    .group-images--image:nth-child(9),
    .group-images--image:nth-child(10),
    .group-images--image:nth-child(11) {
        border-right: 1px solid white;
    }
}

@media (max-width:990px) {
    .group-images--image:nth-child(6n+1),
    .group-images--image:nth-child(6n+2) {
        width: 49.89%;
    }
    .group-images--image:nth-child(6n+1) {
        border-right: 1px solid white;
    }
    .group-images--image:nth-child(6n+3) {
        width: 66.6%;
        border-right: 1px solid white;
    }
    .group-images--image:nth-child(6n+4),
    .group-images--image:nth-child(6n+5) {
        width: 33.17%;
    }
    .group-images--image:nth-child(6n+6) {
        width: 100%;
    }
}
@media (max-width:767px) {
  .group-images--image:nth-child(3n+1),
  .group-images--image:nth-child(3n+2){
      width: 49.89%;
  }
  .group-images--image:nth-child(3n+1) {
      border-right: 1px solid white;
  }
  .group-images--image:nth-child(3n) {
      width: 100%;
  }
}

@media (max-width:543px) {
    .group-images--image:nth-child(-n+12) {
        width: 100%;
    }
}
