.navigation-item {
    display: inline-block;
    flex-basis: auto;
    padding: 10px 35px 0 0;
    font-size: 1.2Rem;
}

.navigation-item>a {
    color: rgb(183, 183, 183);
    text-decoration: none;
}

.navigation-item>a:hover {
    color: rgb(103, 103, 103);
}
