<div>Add item</div>

<div>
    <div>
        <div>Item Name</div>
        <input [(ngModel)]="newItem.name" class="add-item__item-name"/>
    </div>

    <div>
        <div>Category</div>
        <select [(ngModel)]="newItem.category" class="add-item__item-category">
        <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option> 
        </select>
    </div>

    <div>
        <div>Content</div>
        <textarea [(ngModel)]="newItem.content" class="add-item__item-content"></textarea>
    </div>

    <button (click)="addNewItem()">Submit</button>
</div>