.new-product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.new-product--title {
    margin: 20px 0px 17px 0;
    color: FireBrick;
    font-size: 2Rem;
}

.new-product--name, .new-product--weight, .new-product--price {
    -webkit-appearance: none;
    padding: 3px 0 0 5px;
    margin: 0 0 5px 0;
    height: 1.5Rem;
    align-self: stretch;
    font-size: 1Rem;
    border-radius: 3px;
    border: 1px solid rgb(153, 153, 153);
    outline: none;
    color: rgb(55, 58, 60);
}

.new-product--add {
    display: block;
    margin: 5px 0;
    width: 250px;
    height: 30px;
    border: none;
    font-size: 1.2Rem;
    border-radius: 3px;
    color: white;
}

.new-product--add__enabled {
    background-color: rgb(2, 117, 216);
}

.new-product--add__enabled:hover {
    background-color: rgb(2, 90, 165);
    outline: 0;
}

.new-product--add__disabled {
    background-color: Silver;
}