@import url("../group-product.css");
@import url("../product-item.css");
@import url("../my-deal.css");
@import url("../new-product.css");
@import url("../income-list.css");
@import url("../income-section.css");
@import url("../user-section.css");

.store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.store--title {
    text-align: center;
    margin: 40px 10px 17px 10px;
    color: FireBrick;
    font-size: 3Rem;
}

.store--section {
    margin: 20px;
}