.new-article__title {
    font-size: 1.2Rem;
    padding: 35px 20px 20px 20px;
}

.new-article__form {
    border: 0.5px solid rgb(183, 183, 183);
    padding: 20px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.new-article__form-line {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.new-article__label {
    flex-basis: 20%;
    min-width: 250px;
    font-size: 1.1Rem;
    line-height: 40px;
}

.new-article__text-field,
.new-article__content,
.new-article__select {
    flex-basis: 80%;
    min-width: 250px;
}

.new-article__text-field {
    -webkit-appearance: none;
    height: 40px;
    border: 0.5px solid rgb(183, 183, 183);
    outline: none;
    text-indent: 10px;
    font-size: 1Rem;
    color: rgb(51, 51, 51);
}

.new-article__select {    
    font-size: 1Rem;
    color: rgb(51, 51, 51);
}

.new-article__content {
    -webkit-appearance: none;
    box-sizing: border-box;
    height: 170px;
    width: 100%;
    padding: 10px;
    font-size: 1Rem;
    border: 0.5px solid rgb(183, 183, 183);
    outline: none;
    overflow: hidden;
    color: rgb(51, 51, 51);
    font-family: inherit;
}

.add-item__btn {
    float: right;
    width: 120px;
    height: 40px;
    margin: 10px 0 5px 0;
    border: none;
    border-radius: 2px;
    font-size: 1Rem;
    color: white;
    background-color: rgb(119, 116, 116);
    cursor: pointer;
}

.add-item__btn:hover {
    background-color: rgb(88, 84, 84);
}

.add-item__btn:focus {
    outline: 0;
}

.add-item__btn_left {
    align-self: flex-start;
}